.App {
    font-family: 'Roboto', sans-serif;
}

.App footer {
    color: #462C00;
    font-size: 0.7em;
    margin-top: 0.8em;
    text-align: center;
}

.App a.App {
    color: #462C00;
    font-weight: 500;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}