.Weather {
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    box-shadow: -1px 4px 5px rgb(0 0 0 / 10%);
    color: #251a7573;
    display: block;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 30px;
    padding: 2rem;
    text-align: center;
}

.Weather canvas {
    text-align: left;
}

.Weather form {
    box-shadow: -1px 4px 5px rgb(0 0 0 / 10%);
    color: #251a7573;
    margin-bottom: 1.5rem;
}

.Weather input:focus,
.Weather input {
    background: transparent;
    border: none;
    color: #251a7573;
}

.Weather input::placeholder {
    color: #251a7573;
    font-weight: 300;
    font-size: 1em;
}

.Weather button {
    border: none;
    color: #251a7573;
}

.Weather button.search-button {
    background: transparent;
    padding-right: 1rem;
}

.Weather button.overview-toggle {
    background: transparent;
    box-shadow: -1px 4px 5px rgb(0 0 0 / 10%);
    font-size: 0.9em;
    margin-bottom: rem;
    padding: 0.3rem 1rem;
}

.Weather h1 {
    font-size: 1.4em;
    font-weight: 300;
    margin-top: 0.7rem;
    margin-bottom: 0.2em;
    text-transform: capitalize;
}

.Weather h2 {
    font-size: 8.5em;
    font-weight: 100;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.Weather h3 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.Weather span {
    font-size: 0.15em;
    font-weight: normal;
    margin-left: 0;
    position: relative;
    top: -4em;
}

.Weather a {
    color: #907988;
}

.Weather .overview {
    box-shadow: -1px 4px 5px rgb(144 121 136 / 10%);
    padding: 1rem 0.2rem;
}

.Weather ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.Weather .overview li {
    display: inline;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
}